* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bay-of-many: rgb(33,65,129);
    --eagle: rgb(189,190,172);
    --swans-down: rgb(217,235,239);
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    background-color: var(--eagle);
    color: var(--swans-down);
}

header {
    background: var(--bay-of-many);
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 4rem;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    padding: 1rem;
}

.navbar li {
    padding: .5rem;
}

.navbar li a {
    color: var(--swans-down);
    text-decoration: none;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}

.image-container img {
    max-width: 90%;
    max-height: auto;
}

.card-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-direction: column;
    flex: 1 0 100%;
    text-align: center;
    padding: .5rem;
}

.card ul li a {
    text-decoration: none;
    color: var(--swans-down);
}

/* Responsive to tablet-sized screen. */
@media screen and (min-width: 576px) {
    .navbar {
        flex-direction: row;
        }
    .navbar li {
        flex: 1 0 50%;
        max-width: 50%;
    }
    .card {
        flex: 1 0 50%;
    }
     .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     }
     .projects li {
        flex-direction: column;
        flex: 1 0 50%;
        max-width: 50%;
        list-style: none;
        padding: .5rem;
     }
    

}
  
/* Responsive to laptop or desktop-sized screen. */
@media screen and (min-width: 992px) {
    .navbar {
        flex-direction: row;
    }
    .navbar li {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
}
    
  